html, body {
    margin: 0px;
    padding: 0px;
}

#Nav{
    background-color: rgb(162, 249, 31);
    padding: auto;
    margin: auto;
    width: 100%;
    /* modificado el height para acomodar los links  */
    height:70px;
    text-align:center; 
}

 /* agregado cesar */
#Nav ul li a {
      text-decoration: none;
      background-color: aliceblue;
      color: black;
      font-weight:600;
      font-size: 1.2rem;
      padding:10px


}
#Nav ul li {
    text-decoration: none;
    background-color: #ffff;
    /* modificado el padding para que  el hover este sobre las palabras */
    padding: 0px;
    /* display: block; ver si modifica en algo , para mi no influye en nada . cesar  */
    /* por lo que agregue un inline flex para acomodar los enlaces */
    display:inline-flex; 
    text-align: center;
    margin-top: 12px;

}

/* elimine el float - cesar */

#Nav ul li a:hover {
    background-color: black;
    color: white;
    
}
#Nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    
}

/*  corregido y alineado el menu del hover . Cesar */
#Nav li:hover > ul {
    display:block;
    width: 8%;
    height: 30%;
    text-align: justify;
    margin-left: -40px;
    margin-top: 44px;
}  

/*  Agrege cosas - Fabiana */
#cabeza{
    background-color: rgb(253, 142, 52);
    padding: 20px
}

#contacto{
    padding: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;/** Ariba y abajo**/
    left: 92%;/** derecha o izquierda**/
}

#Instagram{
    padding: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;/** Ariba y abajo**/
    left: 90%;/** derecha o izquierda**/
}

#Titulo{
    text-align: center; /**texto centrado**/
    margin-top: 0px; 
}

#carro {
    padding: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 94%;
}

#pie {
    text-align: center;
}