
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
}

body{
    background-color: hsla(48, 45%, 98%, 0.959);
}

.span-header {
    background-color: rgba(34, 187, 29, 0.877);
    text-align: center;
    padding: 10px;
}



header {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}





/**-------------------Menu desplegable---------------**/

nav {
      font-size: x-large;
}

#Nav ul {
    display: flex;  
    
}

#Nav ul li {
    list-style: none;
}

#Nav ul li a {
    text-decoration: none;
    color:black;
    padding:10px;
 }

#Nav ul li a:hover {
    background-color: #4699dd7a;
}
#Nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    
}
#Nav li:hover > ul {
    display:block;
    background-color: #398ab9d0; 
    text-align: justify;
    
}

/**--------------------header----------------------**/

#car-ico , #user-ico {
    padding: 10px;
    cursor: pointer;
}

.logo{
  width: 200px;
  cursor: pointer;
    /**filter: brightness(1.1);**/
   
 mix-blend-mode: multiply; /**Elimina el fondo de las imgen**/

}


/*.........................Imagenes carrousel -main .............. */


.slider-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #f5f5f5;
}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;

}

.slider-box img {
    width: 100%;
}


@keyframes slide {
    0%  {margin-left: 0;}
    20%  {margin-left: -100%;}

    25%  {margin-left: -100%;}
    45%  {margin-left: -100%;}

    50%  {margin-left: -200%;} 
    70%  {margin-left: -200%;}

    75%  {margin-left: -300%;}
    100%  {margin-left: -300%;}
}

@media (max-width:991px) {
    body {
        padding: 30px;
    }
    .slider-box {
        width: 100%;
    }

    .texto {
        top: 50px;
        padding: 0 25px;
    }

    .texto h2 {
        font-size: 35px;
        margin-bottom: 15px;
        
    }

    .texto p {
        font-size: 15px;
    }
}

/**-------------------Redes y contactos---------------**/
#Instagram{
    padding: 1%;
    margin: 0%;
    width: 25px;
    height: 25px;
    position: relative;
    top: 3px;/** Ariba y abajo**/
    left: 90%;/** derecha o izquierda**/
}
#contacto{
    padding: 1%;
    margin: 0%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;/** Ariba y abajo**/
    left: 91%;/** derecha o izquierda**/
}


/**-------------------pie de pagina---------------**/
footer{
    background-color: rgb(204, 51, 5);
    width: 100%;
    height: 300px;}





/**-------------------productos y caracteristicas---------------**/
.contenedor{
    max-width: 1000px;
    width: 100px;
    margin: 40px;
    display: flex;
}
.contenedor #mostrador{
    width: 100px;
    transition: .5s ease;
}

#fila {
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}


#mostrador #fila .item{
max-width: 130px;
background-color: rgba(252, 251, 248, 0.911);
padding: 5px 5px 5px 5px;
margin: 10px 10px 10px 10px;
height: 260px; 
text-align: center;
cursor: pointer;
border-radius: 5px; /**Borde circular**/
transition: .3s; /**tiempo de transicion**/
}

#mostrador #fila .item:hover{
    background-color: rgb(49, 43, 30);
}

#mostrador #fila .item img{
    width: 110px;
    height: 15px 0px;
}


/**-------------------imagenes con licks---------------**/
.Main{
    width: 110px;
    height: 15px;
    display: flex;
    padding: 5px;
    margin: 2px;
}

.img{
    width: 300px;
    height: 150px;
}

