
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
}

body{
    background-color: hsla(60, 4%, 91%, 0.959);
    width: 100%;
    min-height: 100vh;
}

/**--------------------header----------------------**/

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
}

.span-header {
    background-color: rgba(245, 77, 10, 0.877);
    width: 100%;
    height: 20px;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .span-header{
font-size: 10px;
    }
    
}

header {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-pintura-liquida-veteada-textura-abstracta-pintura-fluida-papel-tapiz-mezcla-colores-intensivos_1258-82939.jpg);
    display: flex;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
    .header{
width: 50px;
height: 20px;
    }
    
}

.CuentaDeUsuario {
    width: 25%;
    height: 130px;
    display: flex;
    list-style:none;
    align-items: self-end;
    justify-content: space-evenly;
}

.CuentaDeUsuario a{
    text-decoration: none;
    text-align:center;
    color:black;
    font-size: 17px;
    padding: 1px;
    position: relative;
}
@media screen and (max-width: 1200px) {
    .CuentaDeUsuario a{
        text-decoration: none;
    text-align:right;
    color:black;
    font-size: 10px;
    padding: 10px 10px 10px 10px;
    position:relative;

    }
    
}
/**-------------------Buscador---------------**/

.header-busqueda {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.buscador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CuadroBuscador{
    width :450px;
    height: 40px;
    margin: 20px;
}
@media screen and (max-width: 1200px) {
    .CuadroBuscador{
    width: 200px;
    height: 20px;
    }
    
}
.BotonBuscador{
    width :150px;
    height: 40px;
}
@media screen and (max-width: 1200px) {
    .BotonBuscador{
        width: 100px;
        height: 20px;
        }
}

/**-------------------Menu desplegable---------------**/

.nav {
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    }
    

.itemMenu {
    padding: 5px;
}

#Nav ul {
    display: flex;  
    position: relative;
    font-size: 20px;
     
}

@media screen and (max-width: 1200px) {
    #Nav ul{
        width: 10px;
        height: 20px;
        position: relative;
        font-size: 15px;
        }
}
    
#Nav ul li {
    list-style: none;
    position: relative;
}



#Nav ul li a {
    text-decoration: none;
    color:black;
    padding:10px;
    display: block;
 }

#Nav ul li a:hover {
    background-color: #dd8f467a;
}

#Nav li ul {
    display:none;
    position:absolute;
    background-color: #e9b880;
}

#Nav li:hover > ul {
    display:block;
    text-align: justify;
}

.logo{
    width: 15%;
    margin-top: -35px;
    mix-blend-mode: multiply; /*Elimina el fondo de las imagen*/

}
.logo img {
    width: 200px;
    height: 200px;  
}

@media screen and (max-width: 1200px) {

    .logo {
        display: flex;
        
    }

    .logo img{
    margin-top: -15px;
    width: 150px;
    height: 150px; 
        
    }
    
}

#car-ico , #user-ico {
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .search-user-car{
    width: 280px;
    height: 20px;
    position: relative;
    }
    
}
/*.........................Imagenes carrousel -main .............. */

.slider-box {
    width: 100%;
    height: 800px;
    margin: 50px auto;
    overflow: hidden;
    z-index: 1;
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite ease-in-out;
}
.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}
.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: #f5f5f5;
}
.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;

}
.slider-box img {
    width: 100%;
    object-fit: cover;
}
@keyframes slide {
    0%  {margin-left: 0;}
    20%  {margin-left: -100%;}

    25%  {margin-left: -100%;}
    45%  {margin-left: -100%;}

    50%  {margin-left: -200%;} 
    70%  {margin-left: -200%;}

    75%  {margin-left: -300%;}
    100%  {margin-left: -300%;}
}
@media (max-width:1200px) {
    
    .slider-box {
        width: 100%;
        height: auto;
    }

    .texto {
        top: 50px;
        padding: 0 25px;
    }

    .texto h2 {
        font-size: 35px;
        margin-bottom: 15px;
        
    }

    .texto p {
        font-size: 15px;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav ul li {
        padding: 10px 0;
        border-bottom: 1px solid #dd1515;
    }

    .search-user-car {
        visibility: hidden;
    }
}

/**-------------------pie de pagina---------------**/
.pie{
    background-color: rgb(233, 147, 36);
    padding: 8px 8px ;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
@media screen and (max-width: 1200px) {
    .pie{
        padding: 0%;
        margin: 0%;
        width: 100%;
        position: relative;
        /* background-color: #923b3b; */
    }
    
}
.pie-sobre_Nosotros{
    padding: 10px 10px ;
    margin: 10px 10px ;
    background-color: rgb(226, 148, 70);
    /* align-items: last baseline; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.TituloSobreNosotros{
    padding: 10px;
}
@media screen and (max-width: 1200px) {
    .TituloSobreNosotros{
        padding: 0%;
        margin: 0%;
       font-size: 15px;
    }
    
}
@media screen and (max-width: 1200px) {
    .pie-sobre_Nosotros p{
        padding: 0%;
        margin: 0%;
       font-size: 10px;
    }
    
}
.pie-Ayuda {
    padding: 10px ;
    margin: 10px  ;
    background-color: rgb(226, 148, 70);

    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.pie-Ayuda a{
    margin-top: 10px;
    padding: 2px;
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 600px) {
    .pie-Ayuda{
        padding: 0%;
        margin: 0%;
       font-size: 10px;

    }
}
@media screen and (max-width: 600px) {
    .pie-Ayuda{
        padding: 0%;
        margin: 0%;
       font-size: 10px;
       text-align: right;

    }
}
.pie-Escribinos {
    padding: 10px 10px ;
    margin: 10px 10px ;
    background-color: rgb(226, 148, 70);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.pie-Escribinos span {
    padding: 2px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .pie-Escribinos{
        padding: 0%;
        margin: 0%;
       font-size: 10px;

    }
    
}
@media screen and (max-width: 1200px) {
    .pie-Seguinos{
        padding: 0%;
        margin: 0%;
       font-size: 10px;
    }
    
}
.pie-Seguinos{
    padding: 10px 10px ;
    margin: 10px 10px ;
    background-color: rgb(226, 148, 70);
    align-items: last baseline;
    width: 50%;
    height: auto;
    display:inline-block;
    flex-direction: column;

}
.li-redes  {
   list-style-type: none;
    font-size:xx-large;
    align-self: auto;
    color: black;
    padding: 10px;
   
}
 

/**-------------------productos y caracteristicas---------------**/

.section-header {
   
    margin: 20px auto 0px auto;
    height: max-content;
    width: max-content;
    
}

.section-header h2 {
   
    border: black 1px solid;
    border-radius: 50px ;
    padding: 10px 100px 10px ;
}
.contenedor{
   margin: 20px auto;
   display: flex;
   flex-wrap: wrap;
   max-width: 1000px;
   gap: 10px;
   justify-content: center;
   grid-template-columns: 200px 200px 200px 200px;
   grid-auto-rows: 200px;
}

.contenedor .item-box {
    display: flex;
    flex-direction: column;
    box-shadow: -3px 1px 65px -30px rgba(0,0,0,0.62);

}

.contenedor .item-box .img-box {
   padding-top: 10px;
   padding-bottom: 10px;

}

.contenedor .item-box .img-box img {
    height: 100px;
}

.contenedor .item-box{
width :200px;
height: 200px;
border: solid 1px black;
border-radius: 10%;
background-color: rgba(252, 251, 248, 0.911); 
padding: 5px 5px 5px 5px;
margin: 10px 10px 10px 10px;
text-align: center;
cursor: pointer; /**Borde circular**/
transition: .3s; /**tiempo de transicion**/ 
}

.contenedor .item-box:hover{
    background-color: rgba(49, 43, 30, 0.358);
}

/**-------------------imagenes con licks---------------**/
.banner-links{
    background-color: hsla(60, 4%, 91%, 0.959);
    margin-top: 100px;
    text-align: center;
    
}

/**------------------------Form1---------------------**/
.bodyF1{
    margin: 10px;
    padding: 15px;
}
.DetalleDelProductoF1{
    width :450px;
    height: 450px;
    margin-bottom: 20px;
    position: relative;
    

}
.DetalleDelProductoF1 .img1{
    width :100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgb(85, 83, 83);
}
.ContenedorDeImg .img{
    width :80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    margin: 5px;
    opacity: .7;
    transition: .3s;
    
}
.ContenedorDeImg .img:hover{
    opacity: .1;
}
.activa{
    opacity: .1;
    box-shadow: 0px 5px 5px rgba(53, 51, 50, 0.877);
}

.descripcion_Productos, .contenedor-formulario{
    position: relative;
    background-color: rgba(252, 251, 248, 0.911); 
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(53, 51, 50, 0.356);

}

.descripcion_Productos ul {
    margin: 15px;
}

.descripcion_Productos ul li {
    padding: 10px;
}

.parafo{
    font-size: 20px;
    font-family: Helvetica;
    padding: 10px;
}

.H1F1{
    font-family: Helvetica;
    color: rgb(241, 144, 17);
    font-size: 50px;
    padding: 10px;
}
.InpBotom{
    width :220px;
    height: 50px;
    border-radius: 15px;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(10, 10, 10);
    text-align: center;
    background-color: rgb(241, 144, 17);
    position: relative;
}
.InpBotom:hover{
    color: rgb(247, 240, 232);
}
/**------------------------FormProductos---------------------**/
.search-user-car{

    width :450px;
    height: 40px;
    position: absolute;
}


/**------------------------FormNosotros---------------------**/
.PNosotros{
    width: 100%;
    height: 100%;
    font-family:  Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 200px;
    padding: 20px;
    margin: 0px;

}

.Pteimpulsa{
    color: chocolate;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin: 0px 30px;
    padding: 0;

}

/* form comprar producto */

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Ajusta según tus necesidades */
}

.producto-imagenes {
    width: 30%;
    margin-left : 10px;
}

.main-producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 30px;
    flex-wrap: nowrap;
}

.DetalleDelProductoF1 {
    width: auto;
    text-align: center;
}

.ContenedorDeImg {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    height: 100px;
}

.ContenedorDeImg img {
    max-width: 100px; /* Ajusta según tus necesidades */
    cursor: pointer;
}

.descripcion_Productos {
    width: 35%; /* Ajusta según tus necesidades */
}

.contenedor-formulario {
    width: 30%;
    margin-right: 10px;
}

#formulario {
    display: flex;
    flex-direction: column;
}

#formulario label {
    margin: 10px 0px;
}

.button-form {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
