* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagen/fondoForm2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(248, 241, 241);
}

.form-register {
    width: 400px;
    background: rgba(41, 38, 35, 0.897);
    padding: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

.form-container h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: rgba(77, 69, 59, 0.801);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c5541f;
    font-family: 'calibri';
    font-size: 16px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

body .div-botones {
    display: flex;
    justify-content: space-evenly;
}

.form-register .botons {
    background:  rgb(197, 111, 31);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.botons:hover {
    cursor: pointer;
}

.form-register .div-botones .botons:hover {
    cursor: pointer;
}